In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans

In [3]:
data = pd.read_csv('student_clustering.csv')

In [4]:
data.head()

   cgpa   iq
0  5.13   88
1  5.90  113
2  8.36   93
3  8.27   97
4  5.45  110

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cgpa    200 non-null    float64
 1   iq      200 non-null    int64
dtypes: float64(1), int64(1)
memory usage: 3.3 KB

In [7]:
data.isnull().sum()

cgpa    0
iq      0
dtype: int64

In [8]:
data.duplicated().sum()

7